html
    
    head   
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
        style 
            include ../public/style.css
        title Delivery Satisfaction Survey
    
    body
        .outer.bg-info: .middle: .inner: .container
            .panel.panel-default.col-lg-10.col-lg-offset-1
                .panel-body
                    .row
                        .col-lg-10.col-lg-offset-1
                            h1.text-center We're on it...
                            hr
                            p.lead.
                                We appreciate you providing us with the information to help you! 
                                If you have any more inquiries give us a call at <strong>1 (905) 844-7555</strong> for help!
                            hr